/*Position*/
/*Dimension*/
/*Coloration*/
/*Internal Organisation*/

#editable_area
{
    /*Position*/
    /*Dimension*/
    /*Coloration*/
    /*Internal Organisation*/
}

.unit_line
{
    /*Position*/
    /*Dimension*/
    /*Coloration*/
    /*Internal Organisation*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.unit_column
{
    /*Position*/
    /*Dimension*/
    /*Coloration*/
    /*Internal Organisation*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.unit
{
    /*Position*/
    /*Dimension*/
    width: 10px;
    height: 10px;
    /*Coloration*/
    border: solid 1px black;
    /*Internal Organisation*/
}