/*Position*/
/*Dimension*/
/*Coloration*/
/*Internal Organisation*/

#GameCanvas
{
    /*Position*/
    z-index: -10;
    /*Dimension*/
    /*Coloration*/
    background-color: #213131;
    /*Internal Organisation*/
}

#end_shadow
{
    /*Position*/
    position: fixed;
    top: 0;
    left: 0;
    min-width: 600;
    width:80%;
    height: 80%;
    /*Dimension*/
    /*Coloration*/
    visibility: hidden;
    background-color: rgba(1,1,1,0.5);
    /*Internal Organisation*/
}

.title
{
    /*Position*/
    /*Dimension*/
    font-size: 50px;
    /*Coloration*/
    color: white;
    /*Internal Organisation*/
}

#level_list
{
    /*Position*/
    position: absolute;
    top: 0;
    left: 0;
    /*Dimension*/
    /*Coloration*/
    /*Internal Organisation*/
    overflow: auto;
}