/*Position*/
/*Dimension*/
/*Coloration*/
/*Internal Organisation*/

body
{
    /*Position*/
    /*Dimension*/
    margin: 0;
    padding: 0;
    /*Coloration*/
    background-color: #213131;
    /*Internal Organisation*/
}

.image_as_resource
{
    /*Position*/
    position: fixed;
    top: 0;
    left: 0;
    /*Dimension*/
    /*Coloration*/
    visibility: hidden;
    /*Internal Organisation*/
}

#menu_anchor
{
    /*Position*/
    position: fixed;
    top: 0;
    left: 0;
    /*Dimension*/
    width: 0;
    height: 0;
    /*Coloration*/
    /*Internal Organisation*/
}

#menu
{
    /*Position*/
    position: relative;
    top: 0;
    left: -300px;
    z-index: 10;
    /*Dimension*/
    width: 300px;

    /*Coloration*/
    background-color: #444444;
    box-shadow: 4px 0 10px #444444;
    /*Internal Organisation*/
    /*overflow: auto;*/
    /*Transision*/
    transition-property: left;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}

.button
{
    /*Position*/
    /*Dimension*/
    margin: 10px;
    padding: 0;
    min-height: 30px;
    min-width: 100px;
    /*border: solid;*/
    border-radius: 5px;
    /*Coloration*/
    color: #BBBBBB;
    background-color: #445599;
    /*Internal Organisation*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

.line
{
    /*Position*/
    /*Dimension*/
    width: 100%;
    height: 100%;
    /*Coloration*/
    /*Internal Organisation*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.column
{
    /*Position*/
    /*Dimension*/
    width: 100%;
    height: 100%;
    /*Coloration*/
    /*Internal Organisation*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.start_column
{
    /*Position*/
    /*Dimension*/
    width: 100%;
    height: 100%;
    /*Coloration*/
    /*Internal Organisation*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}