/************************
 *         PLAYER       *
 ************************/

#player
{
    /* Position */
    position: fixed;
    left: 10px;
    top: 10px;

    /* Dimensions */
    width: 25%;
    min-width: 300px;
    /* Colours */
    /* Internal Organization */
}

#player_bubble_background
{
    /* Dimensions */
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* Colours */
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    background-color: #865; /* For browsers that do not support gradients */
    background: -webkit-radial-gradient(circle, rgba(0,0,0,0), #BBBB11, #BBBB11); /* Safari */
    background: -o-radial-gradient(circle, rgba(0,0,0,0), #BBBB11, #BBBB11); /* Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(circle, rgba(0,0,0,0), #BBBB11, #BBBB11); /* Firefox 3.6 to 15 */
    background: radial-gradient(circle, rgba(0,0,0,0), #BBBB11, #BBBB11); /* Standard syntax */

}

#player_bubble
{
    /* Position */
    position: relative;
    top: 0px;
    left:0px;
    /* Dimensions */
    width: 50px;
    height: 50px;
    border-radius: 50%;

    /* Colours */
    background-image: url("/images/favicon.png");
    opacity: 0.8;
    /* Internal Organization */
    background-size: 50px 50px;
}

#player_bubble:hover,#player_bubble_background:hover
{
    /* Position */
    /* Dimensions */
    width: 48px;
    height: 48px;
    margin: 1px;

    /* Colours */

    opacity: 1;
    /* Internal Organization */
    background-size: 48px 48px;
}

#player_commands_contour
{
    /* Position */
    position: relative;
    /* Dimensions */
    max-width: 400px;
    width: 100%;
    /*height: 117px;*/
    height: 126px;
    padding: 0;
    margin: 0;
    border-radius: 10px;

    /* Colours */
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    /*border: solid red 2px;*/
    background-color: rgba(127,127,127,0.5);
    /* Internal Organization */
    overflow: hidden;
    transition-property: height, width;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

#player_commands
{
    /* Position */
    /* Dimension */
    margin: 10px;
    /* Colours */
    /* Internal Organisation */
}

/*
    Time
 */

#time_and_title
{
    /* Position */
    /* Dimension */
    /* Colours */
    /* Internal Dispostion */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#title_text
{
    /* Position */
    /* Dimension */
    height: 17px;
    width: 200px;
    border-radius: 5px;
    /* Colours */
    /*background-color: #555599;*/
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    /* Internal Dispostion */
    overflow: hidden;
    white-space: nowrap;
    display: flex;
}

#scrolling_title1,#scrolling_title2
{
    /* Position */
    position: relative;
    top: 0;
    left: 0;
}

#time_text
{
    /* Position */
    /* Dimension */
    height: 17px;
    font-size: 15px;
    border-radius: 5px;
    /* Colours */
    /*background-color: #555599;*/
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    /* Internal Dispostion */
}

.time_bar
{
    /*Position*/
    /* Dimensions */
    height: 10px;
    border-radius: 5px;
}

#time_bar_total
{
    /* Dimensions */
    width: 100%;

    /* Colors */
    background-color: #BBBB11;
}

#time_bar_current
{
    /* Dimensions */
    width: 0;
    position: relative;
    top: -10px;

    /* Colors */
    background-color: red;
}

/*
    Buttons
*/
#player_commands_buttons
{
    display: flex;
    justify-content: space-around;
}

.player_buttons:hover,.volumes_buttons:hover
{
    /* Colours */
    /*background-color: #555599;*/
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

.player_buttons
{
    /* Dimensions */
    max-width: 60px;
    max-height: 60px;
    min-width: 60px;
    min-height: 60px;
    background-size: 60px 60px;
    border-radius: 50%;
}

#previous_button
{
    /* Colors */
    background-image: url("/images/player/previous.png");
}

#play_pause_button
{
    /* Colors */
    background-image: url("/images/player/play.png");
}

#next_button
{
    /* Colors */
    background-image: url("/images/player/next.png");
}

.volumes_buttons
{
    /* Dimensions */
    max-width: 30px;
    max-height: 30px;
    min-width: 30px;
    min-height: 30px;
    background-size: 30px 30px;
    border-radius: 50%;
}

#increase_volume_button
{
    /* Colors */
    background-image: url("/images/player/plus.png");
}

#decrease_volume_button
{
    /* Colors */
    background-image: url("/images/player/minus.png");
}